extends layout
block content
    h1= title
    ul
        each especie in especies_list
            li
                a(href=especie.genero.url) #[strong #[em  #{especie.genero.nome}]]
                a(href=especie.url) #[strong #[em  #{especie.nome}]]
        else
            li Não existem espécies ainda